# Required to validate Telegram initData
TELEGRAM_BOT_TOKEN=
# Required to sign cryptotokens
SESSION_SECRET=
# Required to access Admin Panel
ADMIN_ACCESS_CODE=
# Fingerprinting services
IPLOCATE_API_KEY=
GEOAPIFY_API_KEY=
